@import '../../variables';

.ready-to-watch-entry {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  padding: 5px;

  .title {
    grid-column: 1;
  }
  .waiting-episodes {
    grid-column: 2;
  }
  .next-airing {
    grid-column: 2;
    color: $color_font_hint;


  }
}
