<div class="ready-to-watch-entry">
  <div class="title">{{anime.title.userPreferred || anime.title.romaji}}</div>
  <!--<div class="episodes" *ngIf="anime.episodesReady > 0">{{anime.episodesReady}} ready to watch!</div>-->
  <div class="next-episode-info">
    <div class="nextAiring" *ngIf="anime.nextAiring">
    <span *ngIf="anime.episodesReady <= 0 && !sevenDaysAway">
      Next available in {{timeUntilNextEpisode}}!
    </span>
      <span *ngIf="sevenDaysAway">Next is more than a week away D:</span>
    </div>

    <div class="waiting-episodes" *ngIf="anime.episodesReady > 0">
      <span *ngIf="anime.episodesReady === 1"> Episode {{anime.latestEpisode}} is waiting.</span>
      <span *ngIf="anime.episodesReady > 1">Episodes {{anime.latestEpisode - anime.episodesReady + 1}} to {{anime.latestEpisode}} are waiting.</span>
    </div>
  </div>
</div>

