@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.footer {
  padding: 5px;

  a {
    padding-right: 2em;
    text-decoration: none;
    color: black;
  }

  .version {
    float: right;
  }
}
