@import '../variables';

.wrapper {
  display: grid;
  grid-template-columns: 1fr 80% 1fr;
  grid-template-rows: 95% 5%;
  padding:1.5em;

  min-height: 90%;

  @media (max-width: $width_min) {
    grid-template-columns: 1fr 100% 1fr;
    padding: 0.5em;
  }

  .content {
    grid-column: 2;

    background-color: white;
    padding: 1.5em;
    border-radius: 10px;

    @media (max-width: $width_min) {
      padding: 1em;
    }
  }

  .footer {
    grid-column: 2;
    grid-row: 2;
  }
}
