@import '../variables';

.wrapper {
  display: grid;
  grid-template-columns: 1fr 70% 1fr;
  grid-template-rows: 100%;
  padding:1.5em;

  min-height: 90%;

  .content {
    grid-column: 2;

    background-color: white;
    padding: 1.5em;
    border-radius: 10px;
  }
}
