<!-- FIXME use some kind of "approved user name" here and use it to always display the username correct to the list -->
<h3>Hello, {{aniListUserName || "anime friend"}}!</h3>

Input your AniList Username here: <input [(ngModel)]="username" /> <button (click)="uiGetList()">Get List</button>

<div>{{errorText}}</div>
<!-- FIXME only display this when a list could be retrieved -->
<p>Here are your current Animes and the episodes that are waiting for you: </p>

<div *ngFor="let currAnime of animes" class="ready-to-watch-list">
  <alrtw-anime-entry [anime]="currAnime"></alrtw-anime-entry>
</div>


