<div class="username_form">
  <mat-form-field>
    <input matInput placeholder="AniList username" [(ngModel)]="username">
  </mat-form-field>
  <button mat-raised-button class="mat-primary" (click)="uiGetList()">Get List</button>
  <span *ngIf="listUpdated" class="listUpdated">
  List retrieved at {{listUpdated.toLocaleString()}}
</span>
</div>
<div class="error">{{errorText}}</div>

<div *ngIf="animes" class="animelist">
  <h3>Hello, {{aniListUserName || "anime friend"}}!</h3>
  <p>Here are your current animes and the episodes that are waiting for you: </p>

  <div *ngFor="let currAnime of animes" class="ready-to-watch-list">
    <alrtw-anime-entry [anime]="currAnime"></alrtw-anime-entry>
  </div>
</div>


