<h3>Hello, {{aniListUserName || "anime friend"}}!</h3>

Input your AniList Username here: <input [(ngModel)]="username" /> <button (click)="uiGetList()">Get List</button>

<span *ngIf="listUpdated" class="listUpdated">
  List retrieved at {{listUpdated.toLocaleString()}}
</span>

<div>{{errorText}}</div>

<div *ngIf="animes">
  <p>Here are your current Animes and the episodes that are waiting for you: </p>

  <div *ngFor="let currAnime of animes" class="ready-to-watch-list">
    <alrtw-anime-entry [anime]="currAnime"></alrtw-anime-entry>
  </div>
</div>


